body {
  background-color: beige;
}
.header {
  background-color: orchid;
  width: 26%;
}
.title {
  color: black;
}
.main {
  background-color: lightpink;
  width: 9%;
}
.estudios {
  color: blueviolet;
}
.cursos {
  color: blueviolet;
}
.idiomas {
  color: blueviolet;
}
.experiencia {
  color: blueviolet;
}
