body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  margin: 5px;
}
.header {
  background-color: lightseagreen;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}
.name {
  color: white;
  font-size: 30px;
}
.title-container {
  margin-bottom: 40px;
  max-width: 300px;
  margin: 0 auto;
}

#title {
  color: lightseagreen;
  text-decoration: underline;
  text-align: center;
}

#personal-information {
  color: lightseagreen;
  font-weight: bold;
  font-size: 19px;
  text-align: left;
  margin-bottom: 15px;
}

.cv-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 20px;
  margin: 0 auto;
  display: block;
}
.table {
  border: 1px solid black;
  width: 60%;
}
.row-style {
  text-align: left;
}

.article-style {
  margin: 30px 0px;
}
.subtitle-style {
  color: lightseagreen;
  font-size: 19px;
}
.contact {
  color: lightseagreen;
  text-decoration: underline;
}
.footer {
  background-color: lightseagreen;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  color: white;
}
#text {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 20px;
}

.form-display-style {
  color: lightseagreen;
  margin: 20px;
  font-weight: bold;
}
